<div *ngIf="inicio">
    <div class="w-full max-w-3xl">
        <form [formGroup]="datosComprobanteForm">
            <div class="w-full">
                <div class="text-xl">REGISTRO COMPROBANTE</div>
            </div>
            <div class="w-full">
                <div class="text-secondary">Datos Boleto Aereo</div>
            </div>
            <div class="grid sm:grid-cols-10 gap-6 w-full mt-8">
                <div class="sm:col-span-3" *ngIf="inicio !== null">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Sucursal:</mat-label>
                        <mat-select [formControlName]="'sucursalId'">
                            <mat-option [value]="null">--Seleccione--</mat-option>
                            <mat-option *ngFor="let s of inicio.sucursal" [value]="s.id">{{s.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="messages" *ngIf="f.sucursalId.touched && f.sucursalId.invalid">
                        <mat-error *ngIf="f.sucursalId.hasError('required')">
                            Este campo es requerido
                        </mat-error>
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Fec. Factura: </mat-label>
                        <input matInput [matDatepicker]="picker02" [formControlName]="'fechaFactura'">
                        <mat-datepicker-toggle matprefix [for]="picker02"></mat-datepicker-toggle>
                        <mat-datepicker #picker02></mat-datepicker>
                    </mat-form-field>
                    <div class="messages" *ngIf="f.fechaFactura.touched && f.fechaFactura.invalid">
                        <mat-error *ngIf="f.fechaFactura.hasError('required')">
                            Este campo es requerido
                        </mat-error>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label><span class="text-warn"></span>Nit linea Aerea</mat-label>
                        <input [formControlName]="'nit'" matInput placeholder="Nit Proveedor">
                    </mat-form-field>
                    <div class="messages" *ngIf="f.nit.touched && f.nit.invalid">
                        <mat-error *ngIf="f.nit.hasError('required')">
                            Este campo es requerido
                        </mat-error>
                        <mat-error *ngIf="f.nit.hasError('maxlength')">
                            El campo debe tener como nombre 50 caracteres
                        </mat-error>
                    </div>
                </div>
                <div class="sm:col-span-5">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label><span class="text-warn"></span>Razon social linea Aerea</mat-label>
                        <input [formControlName]="'razonSocial'" matInput placeholder="Razon social linea Aerea">
                    </mat-form-field>
                    <div class="messages" *ngIf="f.razonSocial.touched && f.razonSocial.invalid">
                        <mat-error *ngIf="f.razonSocial.hasError('required')">
                            Este campo es requerido
                        </mat-error>
                        <mat-error *ngIf="f.razonSocial.hasError('maxlength')">
                            El campo debe tener como nombre 50 caracteres
                        </mat-error>
                    </div>
                </div>
                <div class="sm:col-span-5">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label><span class="text-warn"></span>Numero de boleto</mat-label>
                        <input [formControlName]="'eTicket'" matInput placeholder="Numero de boleto">
                    </mat-form-field>
                    <div class="messages" *ngIf="f.eTicket.touched && f.eTicket.invalid">
                        <mat-error *ngIf="f.eTicket.hasError('required')">
                            Este campo es requerido
                        </mat-error>
                        <mat-error *ngIf="f.eTicket.hasError('maxlength')">
                            El campo debe tener como nombre 50 caracteres
                        </mat-error>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label><span class="text-warn"></span>Imp. Total boleto</mat-label>
                        <input [formControlName]="'importeTotalCompra'" matInput placeholder="Imp. Total boleto">
                    </mat-form-field>
                    <div class="messages" *ngIf="f.importeTotalCompra.touched && f.importeTotalCompra.invalid">
                        <mat-error *ngIf="f.importeTotalCompra.hasError('required')">
                            Este campo es requerido
                        </mat-error>
                        <mat-error *ngIf="f.importeTotalCompra.hasError('maxlength')">
                            El campo debe tener como nombre 50 caracteres
                        </mat-error>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label><span class="text-warn"></span>Imp. Sin Credito Fiscal</mat-label>
                        <input [formControlName]="'importeSinCf'" matInput placeholder="Importe Sin Credito Fiscal">
                    </mat-form-field>
                    <div class="messages" *ngIf="f.importeSinCf.touched && f.importeSinCf.invalid">
                        <mat-error *ngIf="f.importeSinCf.hasError('required')">
                            Este campo es requerido
                        </mat-error>
                        <mat-error *ngIf="f.importeSinCf.hasError('maxlength')">
                            El campo debe tener como nombre 50 caracteres
                        </mat-error>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label><span class="text-warn"></span>Descuento</mat-label>
                        <input [formControlName]="'descuentoBonificacionRebajaIva'" matInput placeholder="Descuento">
                    </mat-form-field>
                    <div class="messages" *ngIf="f.descuentoBonificacionRebajaIva.touched && f.descuentoBonificacionRebajaIva.invalid">
                        <mat-error *ngIf="f.descuentoBonificacionRebajaIva.hasError('required')">
                            Este campo es requerido
                        </mat-error>
                        <mat-error *ngIf="f.descuentoBonificacionRebajaIva.hasError('maxlength')">
                            El campo debe tener como nombre 50 caracteres
                        </mat-error>
                    </div>
                </div>
                <div class="sm:col-span-2">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label><span class="text-warn"></span>Codigo Control</mat-label>
                        <input [formControlName]="'codigoControl'" matInput placeholder="Codigo Control">
                    </mat-form-field>
                    <div class="messages" *ngIf="f.codigoControl.touched && f.codigoControl.invalid">
                        <mat-error *ngIf="f.codigoControl.hasError('required')">
                            Este campo es requerido
                        </mat-error>
                        <mat-error *ngIf="f.codigoControl.hasError('maxlength')">
                            El campo debe tener como nombre 50 caracteres
                        </mat-error>
                    </div>
                </div>
                <div class="sm:col-span-3" *ngIf="inicio !== null">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Tipo Compra:</mat-label>
                        <mat-select [formControlName]="'tipoCompra'">
                            <mat-option [value]="null">--Seleccione--</mat-option>
                            <mat-option *ngFor="let s of inicio.tipoCompra" [value]="s.codigo">{{s.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="messages" *ngIf="f.tipoCompra.touched && f.tipoCompra.invalid">
                        <mat-error *ngIf="f.tipoCompra.hasError('required')">
                            Este campo es requerido
                        </mat-error>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col-span-2 ...">
    <div class="row flex space-x-2 justify-center">
        <div>
            <button type="button" class="inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" (click)="guardarDatosFormulario()">GUARDAR</button>
            <!--            <button type="button" class="inline-block px-6 py-2 border-2 border-gray-800 text-gray-800 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" (click)="editarDatosFormulario()">>EDITAR</button>-->
        </div>
    </div>
</div>
