<div class="flex flex-col flex-auto w-full">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">

        <!-- Title -->
        <div>
<!--            <div class="text-4xl font-extrabold tracking-tight leading-none">Linea

            </div>
            <div class="ml-0.5 font-medium text-secondary">
                <ng-container *ngIf="lineasCount > 0">
                    {{lineasCount}}
                </ng-container>
                {{lineasCount | i18nPlural: {
                '=0'   : 'Sin lineas',
                '=1'   : 'linea',
                'other': 'lineas'
            } }}
            </div>-->
        </div>
        <!-- Actions -->
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Search -->
            <!--<mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input
                    matInput
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar linea'"
                    (keyup)="filtrar($event)">
            </mat-form-field>
            &lt;!&ndash; Add linea button &ndash;&gt;
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="openDialog(null)">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Adicionar</span>
            </button>-->
        </div>
    </div>
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <div class="grid grid-cols-1 xl:grid-cols-3 gap-8 w-full">
            <div class="xl:col-span-3 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                <!-- excel export -->
                <p>excel export</p>

<!--                <mat-dialog-actions>
                    <input type="file" (change)="cargarExcel($event)">
                </mat-dialog-actions>-->
                <mat-dialog-actions>
                    <input type="file" (change)="cargarExcel($event)">
                </mat-dialog-actions>

                <br />
                <mat-dialog-actions>
                    <input type="file" (change)="excelToJson($event)">
                </mat-dialog-actions>


                <ng-container *ngIf="dataSourceRegistroCompraFormatoExcel && dataSourceRegistroCompraFormatoExcel.data.length; else noDatos">
                    <div class="overflow-x-auto mx-6">
                        <table mat-table [dataSource]="dataSourceRegistroCompraFormatoExcel" matSort class="w-full table-fixed bg-transparent">

                            <ng-container matColumnDef="numero">
                                <th mat-header-cell *matHeaderCellDef> No </th>
                                <!--<td mat-cell *matCellDef="let element; let i = index">{{ dataSource.filteredData.indexOf(element) + 1 }}</td>-->
                                <td mat-cell *matCellDef="let item; let i = index">{{item.numero}}</td>
                            </ng-container>
                            <ng-container matColumnDef="nit">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nit Proveedor </th>
                                <td mat-cell *matCellDef="let item"> {{item.nit}} </td>
                            </ng-container>
                            ['numero', 'nit', 'razonSocial', 'codigoAutorizacion', 'numeroFactura', 'numeroDui', 'fechaFactura', 'actions']
                            <ng-container matColumnDef="razonSocial">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Razon Social </th>
                                <td mat-cell *matCellDef="let item"> {{item.razonSocial}} </td>
                            </ng-container>

                            <ng-container matColumnDef="codigoAutorizacion">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo autorizacion </th>
                                <td mat-cell *matCellDef="let item"> {{item.codigoAutorizacion}} </td>
                            </ng-container>

                            <ng-container matColumnDef="numeroFactura">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero factura </th>
                                <td mat-cell *matCellDef="let item"> {{item.numeroFactura}} </td>
                            </ng-container>

                            <ng-container matColumnDef="numeroDui">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Numero dui </th>
                                <td mat-cell *matCellDef="let item"> {{item.numeroDui}} </td>
                            </ng-container>

                            <ng-container matColumnDef="importeTotalCompra">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe total compra </th>
                                <td mat-cell *matCellDef="let item"> {{item.importeTotalCompra}} </td>
                            </ng-container>

                            <ng-container matColumnDef="importeIcei">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe icei </th>
                                <td mat-cell *matCellDef="let item"> {{item.importeIcei}} </td>
                            </ng-container>

                            <ng-container matColumnDef="importeIehd">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe iehd </th>
                                <td mat-cell *matCellDef="let item"> {{item.importeIehd}} </td>
                            </ng-container>

                            <ng-container matColumnDef="importeIpj">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe ipj </th>
                                <td mat-cell *matCellDef="let item"> {{item.importeIpj}} </td>
                            </ng-container>

                            <ng-container matColumnDef="tasa">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tasa </th>
                                <td mat-cell *matCellDef="let item"> {{item.tasa}} </td>
                            </ng-container>

                            <ng-container matColumnDef="otroNscf">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Otro Nscf </th>
                                <td mat-cell *matCellDef="let item"> {{item.otroNscf}} </td>
                            </ng-container>

                            <ng-container matColumnDef="importeExentos">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe exentos </th>
                                <td mat-cell *matCellDef="let item"> {{item.importeExentos}} </td>
                            </ng-container>

                            <ng-container matColumnDef="importeComprasGravadasTasaCero">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Importe compras gravadas tasa cero </th>
                                <td mat-cell *matCellDef="let item"> {{item.importeComprasGravadasTasaCero}} </td>
                            </ng-container>

                            <ng-container matColumnDef="subtotal">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> subtotal </th>
                                <td mat-cell *matCellDef="let item"> {{item.subtotal}} </td>
                            </ng-container>

                            <ng-container matColumnDef="descuentoBonificacionRebajaIva">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> descuentoBonificacionRebajaIva </th>
                                <td mat-cell *matCellDef="let item"> {{item.descuentoBonificacionRebajaIva}} </td>
                            </ng-container>

                            <ng-container matColumnDef="importeGiftCard">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> importeGiftCard </th>
                                <td mat-cell *matCellDef="let item"> {{item.importeGiftCard}} </td>
                            </ng-container>

                            <ng-container matColumnDef="importeBaseCf">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> importeBaseCf </th>
                                <td mat-cell *matCellDef="let item"> {{item.importeBaseCf}} </td>
                            </ng-container>

                            <ng-container matColumnDef="creditoFiscal">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> creditoFiscal </th>
                                <td mat-cell *matCellDef="let item"> {{item.creditoFiscal}} </td>
                            </ng-container>

                            <ng-container matColumnDef="tipoCompra">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> tipoCompra </th>
                                <td mat-cell *matCellDef="let item"> {{item.tipoCompra}} </td>
                            </ng-container>

                            <ng-container matColumnDef="codigoControl">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> codigoControl </th>
                                <td mat-cell *matCellDef="let item"> {{item.codigoControl}} </td>
                            </ng-container>

                            <ng-container matColumnDef="fechaFactura">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha factura </th>
                                <td mat-cell *matCellDef="let item"> {{item.fechaFactura}}</td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                <td mat-cell *matCellDef="let item; let i = index">
                                    <!--<button mat-raised-button (click)="openDialog(item, i)"><mat-icon svgIcon="heroicons_outline:pencil"></mat-icon> Editar</button>
                                    <button mat-raised-button color="warn" (click)="eliminar(item)"><mat-icon svgIcon="heroicons_outline:trash"></mat-icon> Eliminar</button>-->
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator
                            showFirstLastButtons
                            [pageSizeOptions]="[10, 20, 50]"
                            [length]="registrosCount"
                            [pageSize]='10'
                        >
                        </mat-paginator>

                    </div>
                </ng-container>
                <!-- No lineas -->
                <ng-template #noDatos>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No hay registros!</div>
                </ng-template>


                <mat-label>

                    <button class="ml-4" mat-flat-button [color]="'primary'" (click)="guardarOActualizar()">
                        <mat-icon [svgIcon]="'heroicons_outline:save'"></mat-icon>
                        Guardar
                    </button>

                </mat-label>

                <!--<table >
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Identity</th>
                        <th>Product Name</th>
                        <th>Product Price</th>
                        <th>Seller Name</th>
                        <th>Total Count</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let product of products; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{product.identity}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.sellerName}}</td>
                        <td>{{product.count}}</td>
                        <td>{{product.status}}</td>
                    </tr>
                    </tbody>
                </table>-->


            </div>
            <pre>
                {{this.dataSource.data}}
            </pre>

        </div>
    </div>
</div>





