<div mat-dialog-title>
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between">
        <div class="text-3xl tracking-tight">Buscar registros tipo</div>
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button
                mat-icon-button
                [matTooltip]="'Cerrar'"
                (click)="cerrarDialog()">
                <mat-icon
                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </div>
</div>

<mat-dialog-content>
    <div class="flex-auto p-3">
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 mb-2">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input matInput
                       [autocomplete]="'off'"
                       [formControl]="searchInputControl"
                       [placeholder]="'Buscar tipo'"
                       (keyup)="filtrarTipo($event)">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" class="w-full mat-elevation-z8 products-table" matSort>
            <ng-container matColumnDef="nro">
                <th mat-header-cell *matHeaderCellDef> Nro </th>
                <td mat-cell *matCellDef="let element; let i = index">{{ dataSource.filteredData.indexOf(element) + 1 }}</td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="tipoComprobante">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo comprobante </th>
                <td mat-cell *matCellDef="let item"> {{item.tipoComprobante}} </td>
            </ng-container>

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let item"> {{item.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef> fecha </th>
                <td mat-cell *matCellDef="let item"> {{item.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let item; let i = index">
                    <button mat-icon-button (click)="seleccionarTipo(item)" matTooltip="Seleccionar">
                        <mat-icon svgIcon="heroicons_outline:check"></mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-gray-100"></tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30, 50]"></mat-paginator>
    </div>
</mat-dialog-content>
