<div *ngIf="inicio">
    <div class="col-span-2 ...">
        <div class="sm:col-span-3">
            <mat-form-field class="fuse-mat-no-subscript w-full">
                <mat-label>Tipo registro:</mat-label>
                <mat-select (selectionChange)="seleccionarTipoRegistro($event.value)" >
                    <mat-option [value]="'COM'">COMPRAS</mat-option>
                    <mat-option [value]="'BOL'">BOLETOS AEREOS</mat-option>
                    <mat-option [value]="'IMP'">IMPORTACIÓN</mat-option>
                    <mat-option [value]="'RET'">RETENCIÓN</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div class="w-full max-w-3xl">
        <form [formGroup]="datosComprobanteForm">
            <div class="w-full">
                <div class="text-xl">REGISTRO COMPROBANTE</div>
            </div>
            <div class="w-full">
                <div class="text-secondary">Datos Comprobante</div>
            </div>
            <div class="grid sm:grid-cols-10 gap-6 w-full mt-8">
                <div class="sm:col-span-3" *ngIf="inicio !== null">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Documento contable:</mat-label>
                        <mat-select [formControlName]="'tipoFormulario'">
                            <mat-option [value]="null">--Seleccione--</mat-option>
                            <mat-option *ngFor="let s of inicio.tipoComprobante" [value]="s.id">{{s.nombre}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div class="messages" *ngIf="f.tipoFormulario.touched && f.tipoFormulario.invalid">
                        <mat-error *ngIf="f.tipoFormulario.hasError('required')">
                            Este campo es requerido
                        </mat-error>
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Fecha de Comprobante: </mat-label>
                        <input matInput [matDatepicker]="picker01" [formControlName]="'fechaComprobante'">
                        <mat-datepicker-toggle matprefix [for]="picker01"></mat-datepicker-toggle>
                        <mat-datepicker #picker01></mat-datepicker>
                    </mat-form-field>
                    <div class="messages" *ngIf="f.fechaComprobante.touched && f.fechaComprobante.invalid">
                        <mat-error *ngIf="f.fechaComprobante.hasError('required')">
                            Este campo es requerido
                        </mat-error>
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <mat-form-field class="fuse-mat-no-subscript w-full">
                        <mat-label>Nro. Comprobante</mat-label>
                        <input
                            [formControlName]="'numeroComprobante'"
                            matInput>
                    </mat-form-field>
                    <div class="messages" *ngIf="f.numeroComprobante.touched && f.numeroComprobante.invalid">
                        <mat-error *ngIf="f.numeroComprobante.hasError('required')">
                            Este campo es requerido
                        </mat-error>
                    </div>
                </div>
            </div>
            <div *ngIf="tipoRegistro === 'COM'">
                <app-formulario-compra></app-formulario-compra>
            </div>
            <div *ngIf="tipoRegistro === 'BOL'">
                <app-formulario-boleto-areo></app-formulario-boleto-areo>
            </div>
            <div *ngIf="tipoRegistro === 'IMP'">
                <app-formulario-importacion></app-formulario-importacion>
            </div>
            <div *ngIf="tipoRegistro === 'RET'">
                <app-formulario-retencion></app-formulario-retencion>
            </div>
        </form>
    </div>
</div>
<!--<div class="col-span-2 ...">
    <div class="row flex space-x-2 justify-center">
        <div>
            <button type="button" class="inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" (click)="guardarDatosFormulario()">GUARDAR</button>
            <button type="button" class="inline-block px-6 py-2 border-2 border-gray-800 text-gray-800 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" (click)="editarDatosFormulario()">>EDITAR</button>
        </div>
    </div>
</div>-->
