<h1 mat-dialog-title>
    <span *ngIf="!tipoComprobante.id">Crear Tipo Comprobante</span>
    <span *ngIf="tipoComprobante.id">Editar Tipo Comprobante</span>
</h1>

<mat-dialog-content [formGroup]="formGroup">
    <form class="flex flex-col" appFormValidate [formGroup]="formGroup">
        <div class="flex flex-col gt-xs:flex-row">
            <mat-form-field
                class="flex-auto gt-xs:pr-3">
                <mat-label><span class="text-warn">(*)</span>Nombre tipo comprobante</mat-label>
                <input placeholder="Nombre" formControlName="nombre" matInput type="text">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_outline:bookmark'"></mat-icon>
            </mat-form-field>
            <div class="messages" *ngIf="f.nombre.touched && f.nombre.invalid">
                <mat-error *ngIf="f.nombre.hasError('required')">
                    Este campo es requerido
                </mat-error>
                <mat-error *ngIf="f.nombre.hasError('maxlength')">
                    El campo debe tener como maximo 500 caracteres
                </mat-error>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()"><mat-icon svgIcon="heroicons_outline:x"></mat-icon> Cancelar</button>
    <button class="mat-raised-button mat-primary"(click)="save()">
        <mat-icon svgIcon="mat_outline:save"></mat-icon>
        <span *ngIf="!tipoComprobante.id">Crear Tipo Comprobante</span>
        <span *ngIf="tipoComprobante.id">Editar Tipo Comprobante</span>
    </button>
</mat-dialog-actions>
