<div class="flex flex-col flex-auto min-w-0 bg-card dark:bg-transparent">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-5 px-6 md:px-8 border-b">
        <div class="text-4xl font-extrabold tracking-tight">Estado de Cuenta</div>
    </div>
    <!-- Botones de operacion -->
    <form [formGroup]="formLibrodiario" class="mx-5" *ngIf="inicio">
        <div class="grid sm:grid-cols-12 gap-6 w-full mt-8">

            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Mes</mat-label>
                    <mat-select formControlName="tipoComprobanteId">
                        <mat-option *ngFor="let p of inicio.meses" [value]="p.codigo">
                            {{p.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="messages" *ngIf="f.tipoComprobanteId.touched && f.tipoComprobanteId.invalid">
                    <mat-error *ngIf="f.tipoComprobanteId.hasError('required')">
                        Este campo es requerido
                    </mat-error>
                </div>
            </div>

            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Tipo comprobante</mat-label>
                    <mat-select formControlName="tipoComprobanteId">
                        <mat-option *ngFor="let p of inicio.tipoComprobante" [value]="p.id">
                            {{p.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="messages" *ngIf="f.tipoComprobanteId.touched && f.tipoComprobanteId.invalid">
                    <mat-error *ngIf="f.tipoComprobanteId.hasError('required')">
                        Este campo es requerido
                    </mat-error>
                </div>
            </div>

            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label>Desde:</mat-label>
                    <input matInput formControlName="fechaDesde" [matDatepicker]="fechaDatepicker">
                    <mat-datepicker-toggle matSuffix [for]="fechaDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #fechaDatepicker></mat-datepicker>
                </mat-form-field>
                <div class="messages" *ngIf="f.fechaDesde.touched && f.fechaDesde.invalid">
                    <mat-error *ngIf="f.fechaDesde.hasError('required')">
                        Este campo es requerido
                    </mat-error>
                </div>
            </div>

            <div class="sm:col-span-2">
                <mat-form-field class="fuse-mat-no-subscript w-full">
                    <mat-label><span class="text-warn">(*)</span>Hasta: </mat-label>
                    <input matInput [matDatepicker]="picker" [formControlName]="'fechaHasta'">
                    <mat-datepicker-toggle matprefix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <div class="messages" *ngIf="f.fechaHasta.touched && f.fechaHasta.invalid">
                    <mat-error *ngIf="f.fechaHasta.hasError('required')">
                        Este campo es requerido
                    </mat-error>
                </div>
            </div>
            <div class="sm:col-span-2">
                   <mat-label>
            <button
                    class="ml-4"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="buscar()"
                    [disabled]="disabledForm">
                <ng-container *ngIf="!disabledForm">
                    <mat-icon [svgIcon]="'heroicons_outline:save-as'"></mat-icon>
                    Buscar
                </ng-container>
                <mat-progress-spinner
                    *ngIf="disabledForm"
                    [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
        </mat-label>
            </div>
       
       
        </div>
    </form>
</div>
