<div mat-dialog-title>
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between">
        <div class="text-3xl tracking-tight">Buscar pedido</div>
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <button
                mat-icon-button
                [matTooltip]="'Cerrar'"
                (click)="cerrarDialog()">
                <mat-icon
                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>
    </div>
</div>
<mat-dialog-content>
    <div class="flex-auto p-3">
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4 mb-2">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input matInput
                       [autocomplete]="'off'"
                       [formControl]="searchInputControl"
                       [placeholder]="'Buscar pedido'"
                       (keyup)="filtrarPedido($event)">
            </mat-form-field>
        </div>
        <table mat-table [dataSource]="dataSource" class="w-full mat-elevation-z8 products-table" matSort>
            <ng-container matColumnDef="numeroPedido">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Numero pedido</th>
                <td mat-cell *matCellDef="let item" class="w-20"> {{item.numeroPedido}} </td>
            </ng-container>

            <ng-container matColumnDef="tipoPedido">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo pedido </th>
                <td mat-cell *matCellDef="let item"> {{item.tipoPedido}} </td>
            </ng-container>

            <ng-container matColumnDef="cantidad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad </th>
                <td mat-cell *matCellDef="let item"> {{item.cantidad}} </td>
            </ng-container>

            <ng-container matColumnDef="fecha">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
                <td mat-cell *matCellDef="let item"> {{item.fecha}} </td>
            </ng-container>

            <ng-container matColumnDef="concepto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Glosa </th>
                <td mat-cell *matCellDef="let item"> {{item.concepto}} </td>
            </ng-container>

            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let item"
                    [ngClass]="{
                            'text-green-800 bg-green-100 dark:text-green-50 dark:bg-green-500': item.estadoPedido === 'CONCLUIDO' ,
                            'text-amber-800 bg-amber-100 dark:text-amber-50 dark:bg-amber-500': item.estadoPedido === 'SOLICITADO',
                            'text-pink-800 bg-pink-100 dark:text-pink-50 dark:bg-pink-500': item.estadoPedido === 'ANULADO'
                            }"> {{item.estadoPedido}}
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Acciones </th>
                <td mat-cell *matCellDef="let item; let i = index">
                    <button mat-icon-button (click)="seleccionarPedido(item)" matTooltip="Seleccionar">
                        <mat-icon svgIcon="heroicons_outline:check"></mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-gray-100"></tr>
        </table>
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 30, 50]"></mat-paginator>
    </div>
</mat-dialog-content>
