.body {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: aliceblue;
}
.login {
  width: 100%;
  max-width: 330px;
  text-align: center;
}
.ancho {
  width: 80%;
}
.boton {
  height: 50px;
}
/* :host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */