<p>
  <mat-toolbar color="primary">
    <span class="example-spacer">Sucursal</span>
    <button mat-button *ngFor="let item of menu" [routerLink]="item.redirect" >{{item.nombre}}</button>
    <!-- <button mat-button routerLink="/sucursal/funcionarios">Fucionarios</button>
    <button mat-button routerLink="/sucursal/linea">POAI</button> -->
    <span class="example-spacer"></span>
    <button mat-button >
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </button>
  </mat-toolbar>
</p>