<div class="grid grid-rows-3 grid-flow-col gap-4">
    <div class="col-span-2 ...">
        <div class="row flex space-x-2 justify-center">
            <div>
                <button type="button" class="inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" (click)="registrarComprobante()">NUEVO</button>
                <button type="button" class="inline-block px-6 py-2 border-2 border-purple-600 text-purple-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">EDITAR</button>
                <button type="button" class="inline-block px-6 py-2 border-2 border-green-500 text-green-500 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">VISUALIZAR</button>
                <button type="button" class="inline-block px-6 py-2 border-2 border-red-600 text-red-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">IMPRIMIR</button>
                <button type="button" class="inline-block px-6 py-2 border-2 border-yellow-500 text-yellow-500 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">GUARDAR</button>
                <button type="button" class="inline-block px-6 py-2 border-2 border-blue-400 text-blue-400 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">COPIAR</button>
                <button type="button" class="inline-block px-6 py-2 border-2 border-gray-800 text-gray-800 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out">CANCELAR</button>
            </div>
        </div>
    </div>


    <mat-dialog-content [formGroup]="formRegistroComprobante">

            <div class="flex flex-auto space-x-3">
                <!--Combo documento contable-->
                <mat-form-field class="flex-auto gt-xs:pr-5 w-1/8" appearance="outline">
                    <mat-label>Documento contable</mat-label>

                    <mat-select formControlName="tipoComprobanteId">
                        <mat-option *ngFor="let comprobante of tipoComprobante" [value]="comprobante.id">
                            {{comprobante.nombre}}
                        </mat-option>
                    </mat-select>

                    <mat-icon matSuffix *ngIf="getTipoComprobanteId.valid" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    <mat-icon matSuffix *ngIf="getTipoComprobanteId.invalid" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    <mat-error *ngIf="getTipoComprobanteId.touched && getTipoComprobanteId.invalid">
                        <ng-container *ngIf="getTipoComprobanteId.hasError('required')">Debe seleccionar un documento contable para continuar</ng-container>
                    </mat-error>

                </mat-form-field>

                <!--Datepicker Fecha-->
                <mat-form-field class="flex-auto gt-xs:pr-5 w-1/8" appearance="outline">
                    <mat-label>Fecha:</mat-label>
                    <input matInput formControlName="fecha" [matDatepicker]="fechaIngresoDatepicker">
                    <mat-datepicker-toggle matSuffix [for]="fechaIngresoDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #fechaIngresoDatepicker></mat-datepicker>
                </mat-form-field>

                <!-- Tipo Moneda -->
                <mat-form-field class="flex-auto gt-xs:pr-5 w-1/8" appearance="outline">
                    <mat-label>Tipo de Moneda</mat-label>
                    <mat-select formControlName="tipoMoneda">
                        <mat-option *ngFor="let p of tipoMoneda" [value]="p.codigo">
                            {{p.nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-icon matSuffix *ngIf="getTipoMoneda.valid" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    <mat-icon matSuffix *ngIf="getTipoMoneda.invalid" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    <mat-error *ngIf="getTipoMoneda.touched && getTipoMoneda.invalid">
                        <ng-container *ngIf="getTipoMoneda.hasError('required')">Debe seleccionar un tipo de moneda para continuar</ng-container>
                    </mat-error>
                </mat-form-field>
                <!-- Valor del cambio -->
                <mat-form-field class="flex-auto gt-xs:pr-5 w-1/8" appearance="outline">
                    <mat-label>Valor de Cambio</mat-label>
                    <!--<input placeholder="Cambio" formControlName="valorCambio" [(ngModel)]="precioDolar" value="{{precioDolar}}" matInput type="text" [readOnly]="isDisabled">-->
                    <input placeholder="Cambio" formControlName="valorCambio" matInput type="text">
                    <mat-icon matSuffix *ngIf="getValorCambio.valid" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    <mat-icon matSuffix *ngIf="getValorCambio.invalid" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    <mat-error *ngIf="getValorCambio.touched && getValorCambio.invalid">
                        <ng-container *ngIf="getValorCambio.hasError('required')">El campo valor de cambio debe tener un valor numérico</ng-container>
                    </mat-error>
                </mat-form-field>


                <!--PagadoA-->
                <mat-form-field class="flex-auto gt-xs:pr-5 w-1/8" appearance="outline">
                    <mat-label>Pagado a</mat-label>
                    <input placeholder="Ingrese pagado a" formControlName="pagadoA" matInput type="xvidetext">
                    <mat-icon matSuffix *ngIf="getPagadoA.valid" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    <mat-icon matSuffix *ngIf="getPagadoA.invalid" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    <mat-error *ngIf="getPagadoA.touched && getPagadoA.invalid">
                        <ng-container *ngIf="getPagadoA.hasError('required')">El campo pagado a debe tener un valor</ng-container>
                    </mat-error>
                </mat-form-field>

                <!--Nit/ci-->
                <mat-form-field class="flex-auto gt-xs:pr-5 w-1/8" appearance="outline">
                    <mat-label>NIT / ci</mat-label>
                    <input placeholder="Ingrese el nit / ci" formControlName="valorNitCi" matInput type="text">
                    <mat-icon matSuffix *ngIf="getValorNitCi.valid" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    <mat-icon matSuffix *ngIf="getValorNitCi.invalid" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    <mat-error *ngIf="getValorNitCi.touched && getValorNitCi.invalid">
                        <ng-container *ngIf="getValorNitCi.hasError('required')">El campo nit/ci debe tener un valor numérico</ng-container>
                    </mat-error>
                </mat-form-field>


                <!--Nro Recibo-->
                <mat-form-field class="flex-auto gt-xs:pr-5 w-1/8" appearance="outline">
                    <mat-label>Nro Recibo</mat-label>
                    <input placeholder="Ingrese el numero de recibo" formControlName="nroRecibo" matInput type="text">
                </mat-form-field>
                <!--Nro Comprobante-->
                <mat-form-field class="flex-auto gt-xs:pr-5 w-1/8" appearance="outline">
                    <mat-label>nroComprobante</mat-label>
                    <input placeholder="Ingrese el numero comprobante" formControlName="nroComprobante" matInput type="text">
                </mat-form-field>

            </div>
            <div class="flex flex-auto space-x-3">
                <!--Glosa-->
                <mat-form-field class="flex-auto gt-xs:pr-5 w-full" appearance="outline">
                    <mat-label>Glosa</mat-label>
                    <input placeholder="Ingrese la glosa del registro" formControlName="glosa" matInput type="text">
                    <mat-icon matSuffix *ngIf="getGlosa.valid" [svgIcon]="'heroicons_outline:check'"></mat-icon>
                    <mat-icon matSuffix *ngIf="getGlosa.invalid" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                    <mat-error *ngIf="getGlosa.touched && getGlosa.invalid">
                        <ng-container *ngIf="getGlosa.hasError('required')">El campo glosa debe tener un valor</ng-container>
                    </mat-error>
                </mat-form-field>

            </div>

    </mat-dialog-content>

    <div class="flex-auto p-5 sm:p-1">
        <div class="flex-auto pb-2">

            <table mat-table [dataSource]="dataSourceComprobanteDetalle" matSort
                   class="w-full mat-elevation-z8 products-table table-auto">

                <ng-container matColumnDef="nro">
                    <th mat-header-cell *matHeaderCellDef> Codigo</th>
                    <td mat-cell *matCellDef="let element; let i = index">{{(i + 1) + (paginator.pageIndex * paginator.pageSize)}}</td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="codigoPlanCuenta">
                    <th mat-header-cell *matHeaderCellDef> Codigo</th>
                    <td mat-cell *matCellDef="let item"> {{item.linea}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="nombrePlanCuenta">
                    <th mat-header-cell *matHeaderCellDef>Nombre cuenta</th>
                    <td mat-cell *matCellDef="let item"> {{item.nombrePlanCuenta}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="referencia">
                    <th mat-header-cell *matHeaderCellDef>Referencia</th>
                    <td mat-cell *matCellDef="let item">
                        {{item.referencia}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="cc">
                    <th mat-header-cell *matHeaderCellDef>C.C.</th>
                    <td mat-cell *matCellDef="let item">
                        {{item.cc}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="debeBoliviano">
                    <th mat-header-cell *matHeaderCellDef>Debe (Bs)</th>
                    <td mat-cell *matCellDef="let item">
                        {{item.debeBoliviano}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="haberBoliviano">
                    <th mat-header-cell *matHeaderCellDef>Haber (Bs)</th>
                    <td mat-cell *matCellDef="let item">
                        {{item.haberBoliviano}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="debeDolar">
                    <th mat-header-cell *matHeaderCellDef>Debe (US$)</th>
                    <td mat-cell *matCellDef="let item">
                        {{item.debeDolar}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="haberDolar">
                    <th mat-header-cell *matHeaderCellDef>Haber(US$)</th>
                    <td mat-cell *matCellDef="let item">
                        {{item.haberDolar}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="banco">
                    <th mat-header-cell *matHeaderCellDef>Bco.</th>
                    <td mat-cell *matCellDef="let item">
                        {{item.banco}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="nroCheque">
                    <th mat-header-cell *matHeaderCellDef>Nro Cheque</th>
                    <td mat-cell *matCellDef="let item">
                        {{item.nroCheque}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

                <ng-container matColumnDef="iva">
                    <th mat-header-cell *matHeaderCellDef>IVA</th>
                    <td mat-cell *matCellDef="let item">
                        {{item.iva}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>

<!--
                <ng-container matColumnDef="conteoFisico">
                    <th mat-header-cell *matHeaderCellDef> Conteo fisico</th>
                    <td mat-cell *matCellDef="let item; let fila index">
                        <input class="bg-gray-200 text-black border border-gray-200 rounded w-10"
                               MatInput type="text" placeholder="{{item.conteoFisico}}" [(ngModel)]="item.conteoFisico"
                               (keyup.enter)="calcularDiferencia(fila)" [disabled]="validarAgregar">
                    </td>
                    <td mat-footer-cell *matFooterCellDef><p>{{sumarCantidadTotalConteoFisico() | number:'.0-4'}}</p>
                        <p>{{sumarPrecioTotalInventario() | number: '.0-4'}}</p></td>
                </ng-container>


                <ng-container matColumnDef="diferencia">
                    <th mat-header-cell *matHeaderCellDef> Diferencia</th>
                    <td mat-cell *matCellDef="let item; let i index">
                        <input class="bg-gray-200 text-black border border-gray-200 rounded w-10"
                               MatInput type="text" placeholder="{{item.diferencia}}" [disabled]="validarAgregar">

                    </td>
                    <td mat-footer-cell *matFooterCellDef>{{sumarDiferenciaTotal() | number:'.0-4'}}</td>
                </ng-container>

                <ng-container matColumnDef="precioFob">
                    <th mat-header-cell *matHeaderCellDef> Precio FOB</th>
                    <td mat-cell *matCellDef="let item; let i index">
                        {{item.precioFob | number:'.0-4'}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>

                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total</th>
                    <td mat-cell *matCellDef="let item">
                        {{item.precioTotalDiferencia | number: '.0-4'}}
                    </td>
                    <td mat-footer-cell *matFooterCellDef>{{sumarPrecioTotalDiferencia() | number:'.0-4'}}</td>
                </ng-container>
                -->

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Acciones</th>
                    <td mat-cell *matCellDef="let item;">
                        <button mat-raised-button color="warn">
                            <mat-icon svgIcon="heroicons_outline:trash"></mat-icon>
                        </button>
                    </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="hover:bg-gray-50"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
            </table>
            <mat-paginator [pageSize]="20" [pageSizeOptions]="[5, 10, 25, 50, 100]"></mat-paginator>

        </div>
    </div>

    <mat-dialog-content [formGroup]="formRegistroComprobante">
        <div class="flex-auto p-0 sm:p-5">
            <div class="flex flex-auto space-x-3">

                    <!-- Total debe boliviano -->
                    <mat-form-field class="flex-auto gt-xs:pr-5 w-1/8" appearance="outline">
                        <mat-label>Total debe boliviano</mat-label>
                        <input formControlName="totalDebeBoliviano" matInput type="text">
                    </mat-form-field>

                    <!-- Total haber boliviano -->
                    <mat-form-field class="flex-auto gt-xs:pr-5 w-1/8" appearance="outline">
                        <mat-label>Total haber boliviano</mat-label>
                        <input formControlName="totalHaberBoliviano" matInput type="text">
                    </mat-form-field>

                    <!-- Total debe dolar -->
                    <mat-form-field class="flex-auto gt-xs:pr-5 w-1/8" appearance="outline">
                        <mat-label>Total debe dolar</mat-label>
                        <input formControlName="totalDebeDolar" matInput type="text">
                    </mat-form-field>

                    <!-- Total haber dolar -->
                    <mat-form-field class="flex-auto gt-xs:pr-5 w-1/8" appearance="outline">
                        <mat-label>Total haber dolar</mat-label>
                        <input formControlName="totalHaberDolar" matInput type="text">
                    </mat-form-field>

                    <!-- diferenciaDebeBoliviano -->
                    <mat-form-field class="flex-auto gt-xs:pr-5 w-1/8" appearance="outline">
                        <mat-label>Diferencia debe boliviano</mat-label>
                        <input formControlName="diferenciaDebeBoliviano" matInput type="text">
                    </mat-form-field>

                    <!--diferenciaHaberBoliviano -->
                    <mat-form-field class="flex-auto gt-xs:pr-5 w-1/8" appearance="outline">
                        <mat-label>Diferencia haber boliviano</mat-label>
                        <input formControlName="diferenciaHaberBoliviano" matInput type="text">
                    </mat-form-field>

                    <!-- diferenciaDebeDolar -->
                    <mat-form-field class="flex-auto gt-xs:pr-5 w-1/8" appearance="outline">
                        <mat-label>Diferencia debe dolar</mat-label>
                        <input formControlName="diferenciaDebeDolar" matInput type="text">
                    </mat-form-field>

                    <!-- diferenciaHaberDolar -->
                    <mat-form-field class="flex-auto gt-xs:pr-5 w-1/8" appearance="outline">
                        <mat-label>Diferencia haber dolar</mat-label>
                        <input formControlName="diferenciaHaberDolar" matInput type="text">
                    </mat-form-field>


            </div>


            <div>
                <mat-label>

                    <button class="ml-4" mat-flat-button [color]="'primary'" (click)="guardarOActualizar()">
                        <mat-icon [svgIcon]="'heroicons_outline:save'"></mat-icon>
                        Guardar
                    </button>

                </mat-label>
            </div>
        </div>
    </mat-dialog-content>


</div>
