<div class="flex flex-col flex-auto w-full">
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <div>
            <div class="text-4xl font-extrabold tracking-tight leading-none">Tipo comprobantes</div>
            <div class="ml-0.5 font-medium text-secondary">
                <ng-container *ngIf="tiposCount > 0">
                    {{tiposCount}}
                </ng-container>
                {{tiposCount | i18nPlural: {
                '=0'   : 'Sin tipos comprobantes',
                '=1'   : 'tipo comprobante',
                'other': 'Tipos comprobantes'
            } }}
            </div>
        </div>
        <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <mat-form-field class="fuse-mat-dense fuse-mat-no-subscript fuse-mat-rounded min-w-64">
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input
                    matInput
                    [autocomplete]="'off'"
                    [placeholder]="'Buscar'"
                    (keyup)="filtrar($event)">
            </mat-form-field>
            <button
                class="ml-4"
                mat-flat-button
                [color]="'primary'"
                (click)="openDialog(null)">
                <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                <span class="ml-2 mr-1">Adicionar</span>
            </button>
        </div>
    </div>
    <div class="flex flex-wrap w-full max-w-screen-xl mx-auto p-6 md:p-8">
        <div class="grid grid-cols-1 xl:grid-cols-3 gap-8 w-full">
            <div class="xl:col-span-3 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden">
                <ng-container *ngIf="dataSource && dataSource.data.length; else noContacts">
                    <div class="overflow-x-auto mx-6">
                        <table mat-table [dataSource]="dataSource" matSort class="w-full table-fixed bg-transparent">
                            <ng-container matColumnDef="numero">
                                <th mat-header-cell *matHeaderCellDef> Número </th>
                                <td mat-cell *matCellDef="let element; let i = index">{{element.numero}}</td>
                            </ng-container>
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                                <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                            </ng-container>
                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    <button mat-raised-button (click)="openDialog(element)"><mat-icon svgIcon="heroicons_outline:pencil"></mat-icon> Editar</button>
                                    <button mat-raised-button color="warn" (click)="eliminar(element)"><mat-icon svgIcon="heroicons_outline:trash"></mat-icon> Eliminar</button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator
                            showFirstLastButtons
                            [pageSizeOptions]="[10, 20, 50]"
                            [length]="tiposCount"
                            [pageSize]='10'
                        >
                        </mat-paginator>
                    </div>
                </ng-container>
                <!-- No tipos -->
                <ng-template #noContacts>
                    <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No hay tipos comprobante registrados!</div>
                </ng-template>
            </div>
        </div>
    </div>
</div>





